html {
    font-size: 62.5%;
}

body{
    background: #674baf url('../images/bg-desktop.svg') no-repeat center center;
    background-size: cover;
}

main{
    display: grid;
    grid-template-areas: "header header"
                         "informacoes informacoes"
                         "footer footer";
    grid-template-columns: (2, 1fr);
}

.header{
    grid-area: header;
    padding-bottom: 35px;
}

.header .logo{
    padding: 75px;
}

.informacoes {
    grid-area: informacoes;
    display: flex;
    justify-content: center;
    align-items: center;
}

.informacoes .imagens{
    grid-area: imagens;
}

.informacoes .imagens img{
    width: 100%;
}

.informacoes .informacao{
    grid-area: informacao;
    color: #fff;
    width: 72vh;
    margin: 50px 50px;
    padding: 50px;
}

.informacoes .informacao h1 {
    font-family: 'Poppins', sans-serif;
    font-size: 4.5rem;
    font-weight: 600;
}

.informacoes .informacao p {
    font-family: 'Open Sans', sans-serif;
    font-size: 2rem;
    font-weight: 400;
    margin: 25px 0;
}

.informacoes .informacao .btn-register{
    font-family: 'Open Sans', sans-serif;
    font-size: 1.8rem;
    font-weight: 400;
    color: #674baf;
    padding: 12px 75px;
    border-radius: 50px;
}

.informacoes .informacao .btn-register:hover{
    background-color: #e882e8;
    color: #fff;
    transition: 0.4s;
}

.footer{
    grid-area: footer;
    display: flex;
    justify-content: flex-end;
}

.footer .social {
    display: flex;
    padding: 65px 75px 0 0;
}

.footer .social a{
    padding: 10px;
}

.footer a i{
    font-size: 2rem;
    width: 50px;
    height: 50px;
    text-align: center;
    color: #fff;
    border: solid 1px #fff;
    border-radius: 50%;
    padding: 15px;
}

.footer .social a i:hover{
    color: #e882e8;
    border-color: #e882e8;
    transition: 0.4s;
}

@media(max-width: 1200px){
    .informacoes {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .informacoes .informacao {
        text-align: center;
    }

    .footer{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .footer .social {
        padding: 0;
    }
}

@media(max-width: 768px){
    body{
        background: #674baf url('../images/bg-mobile.svg') no-repeat center center;
        background-size: cover;
    }
    .informacoes{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .informacoes .imagens{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .informacoes .imagens img{
        width: 80%;
    }

    .informacoes .informacao{
        display: flex;
        width: 60vh;
        flex-direction: column;
        text-align: center;
        justify-content: center;
    }

    .informacoes .informacao h1{
        font-size: 3rem;
    }

    .footer{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .footer .social{
        padding: 0;
    }
}